@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

:root {
  --site-font: "Rubik", sans-serif;
  --primary-color: #f53838;
  --text-color-light: #4f5665;
  --text-color-dark: #0b132a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--site-font);
}
